BoT_BE/application/wallet
BoT_BE/application/node_modules
BoT_BE/application_view/wallet
BoT_BE/application_view/node_modules
BoT_BE/application_tcp/node_modules
BoT_BE/basic-network/config/*
BoT_BE/basic-network/crypto-config/*
BoT_BE/explorer/organizations
BoT_BE/chaincode/botcc/go/chaincode
BoT_BE/chaincode/botcc/go/go.mod
BoT_BE/chaincode/botcc/go/go.sum