<!DOCTYPE html>
<html>
<body>

<h2>BoT Asset Forms</h2>

<form action="/api/addUser" method="post">
  <label for="fname">id:</label><br>
  <input type="text" id="id" name="id" value="id"><br>
  <label for="lname">pw:</label><br>
  <input type="text" id="pw" name="pw" value="pw"><br><br>
  <label for="lname">name:</label><br>
  <input type="text" id="name" name="name" value="name"><br><br>
  <label for="lname">mail:</label><br>
  <input type="text" id="mail" name="mail" value="mail"><br><br>
  <label for="lname">phone:</label><br>
  <input type="text" id="phone" name="phone" value="phone"><br><br>
  <label for="lname">team:</label><br>
  <input type="text" id="team" name="team" value="team"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>Submit 버튼을 누르면 위 정보로 자산이 생성 됨</p>

</body>
</html>
